/* Write your CSS here */
.footer-container {
  background-color: #cbd5e1;
  text-align: center;
  align-self: stretch;
  margin-bottom: 64px;
}

.footer-heading {
  font-family: 'roboto';
  font-size: 32px;
  font-weight: 600;
  color: #475569;
}

@media screen and (min-width: 768px) {
  .footer-heading {
    font-size: 48px;
  }
}
